html {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 700px;
    background: url('../img/topImg.png') no-repeat;
    height: 400px;
}

#ruleBox {
    margin: 0 auto;
    width: 700px;
}
#ruleBox p:first-child {
    margin-top: 1em;
}

#ruleBox p {
    margin: 0;
}